*{
    margin: 0%;
    padding: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: medium;
    color: white;
     
}

body{
    background-image: url("tree.jpg");
    background-size:cover;



}
/* navbar */
.navbar{

    display: flex;
    box-shadow: 0 0 35px rgba(0,0,0,.2);
    backdrop-filter: blur(3.8px);
    height: 75px; 

}
.nav-menusection{

   
   display: flex;
   top:29px;
   position:relative;
 
}

.nav-menusection a{
     color: orange;
     font-size:18px;
     text-align: center;
}

.nav-menusection .option-1 {
     width: 50px;
     height:22px;
     text-align: center;
     background-color: transparent;
     
}
.nav-menusection .option-1 a{
    text-decoration: none;
    

}
.nav-menusection .option-2 {
    width: 55px;
    height:22px;
    text-align: center;
    background-color: transparent;

}
.nav-menusection .option-2 a{
   text-decoration: none;
   

}
.nav-menusection .option-3 {
    width: 67px;
    height:22px;
    text-align: center;
    background-color: transparent;

}
.nav-menusection .option-3 a{
   text-decoration: none;
   

}
.nav-menusection .option-4 {
    width: 67px;
    height:22px;
    text-align: center;
    background-color: transparent;

}
.nav-menusection .option-4 a{
   text-decoration: none;
   

}.nav-menusection .option-5 {
    width: 73px;
    height:22px;
    text-align: center;
    background-color: transparent;

}
.nav-menusection .option-5 a{
   text-decoration: none;
   

}
.nav-menusection .option-6 {
    width: 70px;
    height:30px;
    text-align: center;
    background-color: transparent;

}
.nav-menusection .option-6 a{
   text-decoration: none;
   

}




.nav-menusection span a:hover{
    color: white;
    transition: ease-in;
    transition-duration: 0.15s;
    transition-property: all;
}

.nav-menusection span{
    margin-left: 70px;
    align-items: center;
    color: white;
    background-color: rebeccapurple;
    
}


.nav-weblogo{

    color:rgb(255, 119, 0);
    text-align: center;
    font-size: 40px;
    justify-content: center;
    margin-top: 7px;
    background-color: transparent;  
    margin-left: 12px;
    margin-right: 15%;

}
.nav-weblogo a{
    font-size: larger;
    text-decoration: none;
    color: orange;

}

.nav-weblogo a:hover{
    transition: ease-in-out;
    transition-duration: 0.50s;
    transition-property: all;
    color: white;
}




.nav-search-bar{
  display: flex;
  justify-content: center;
  margin-left: 150px;

 
}

.search-bar{

    height: 41px;
    width: 210px;
    border: 1.5px solid rgb(255, 119, 0);
    margin-top:20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-bar input{
    
    height: 38px;
    width: 210px;
    border: 2px solid rgb(255, 119, 0);
    background-color: transparent;
    border: 0cap;
}
.search-bar input::placeholder{
    display: flex;
    justify-content: center;
    text-align: center;
    color: orange;
    font-size: 20px;
}

.search-bar:hover{
    background-color: white;
    transition: ease-in;
    transition-duration: 0.15s;
    transition-property: all;
}


.search-btn{
    height: 42px;
    width: 80px;
    background-color: rgb(255, 119, 0);
    margin-top:20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:0cap;
    

}
.search-btn:hover{

        background-color: white;
        color:rgb(255, 119, 0); 
        transition: ease-in;
        transition-duration: 0.15s;
        transition-property: all;
    }


/* navbar over */


.conclusionpart{

    position: relative;
    top:120px;
    left: 100px;
}

.conclusionpart p{
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 30px;
}

.conclusionpart .p1{
    color: rgb(255, 119, 0);
    font-size: 60px;
}

.descriptionpart{
    position: relative;
    top:-80px;
    left:-80px;
}


.descriptionpart .p2{
    
    font-size: larger;
    font-weight: lighter;
    font-family: ' Arial, sans-serif',

}
.joinbtn{

    height:40px;
    width: 150px;
    background-color: white;
    display: flex;
    position: relative;
    left:85px;
    top:-80px;
    border-radius:10px;

}

.joinbtn:hover{
    background-color:rgb(255, 119, 0) ;
    color: white;
    transition: ease-in;
    transition-duration: 0.15s;
    transition-property: all;
}

.joinbtn .btn{
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    font-size: larger;
    left:45px;
    position: relative;
    color: black;
    text-decoration: none;
}


.loginpage{

    height: 420px;
    width: 19%;
    /* background-color:black;   */
    backdrop-filter: blur(1.5px);
    backdrop-filter:black(21.5px);
    position: absolute;
    top:-10px;
    right: 150px;
    border-radius: 10px;
    background-color: black;
    

}

.loginpage h3{
    height: 40px;
    width: 80%;
    background-color: white;
    color:rgb(255, 119, 0);
    margin: 25px;
    margin-left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 8px;
}

.name{
    height: 50px;
    width: 100%;
    background-color:transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;

}


.name input{

    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(255, 119, 0);
    width: 70%;
    padding-left: 10px;

}

.name input::placeholder{

 color: white;
 
    
}

.name input:hover{

    width: 80%;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.25s;
   
    
    
}

.name input:hover::placeholder{

   color: orange;
   transition: ease-in-out;
   transition-property: all;
   transition-duration: 0.25s;

   
}



.password{

    height: 50px;
    width: 100%;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;

    
}
.password input{
    border-top: none;
    border: left;
    border: none; 
    border-bottom: 2px solid rgb(255, 119, 0); 
    width: 70%;
    background-color: transparent;
    padding-left: 10px;
}

.password input::placeholder{
    color: white;
}

.password input:hover{

    width: 80%;
    transition: all  ease-in 0.25s;
   
    
    
}
.password input:after:active{
    width: 80%;
}

.password input:hover::placeholder{

   color: orange;
   transition: ease-in-out;
   transition-property: all;
   transition-duration: 0.25s;

   
}



.login-anchor{
    height: 50px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border-color: transparent;
    text-decoration: none;
    
}


.login-anchor button{
    height: 40px;
    width:76%;
    background-color: rgb(255, 119, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 10px;
    border-color: transparent;
  
}
.login-anchor button:hover{
    background-color:white;
    transition: ease-in;
    transition-duration: 0.15s;
    transition-property: all;
    color:rgb(255, 119, 0);
    
}


.suggestionbox{
   /* margin-left: 75px; */
    margin-top:20px;
    text-align: center;
    color: white;
}

.signup a{

    color: rgb(255, 119, 0);
    text-decoration: none;

}
.signup a:hover{
    color:white;
    transition: ease-in;
    transition-duration: 0.15s;
    transition-property: all;
}


.suggestion2 p{
    color: white;
}

.suggestion2{
    color: white;
    margin-top: 10px;
    text-align: center;
  
}

.iconlist{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  

}

.iconlist i{
    font-size: 32px;
    align-items: center;
    margin-top: 10px;
    color: white;
}



.iconlist i:hover{
    color:rgb(255, 119, 0);
    transition: ease-in;
    transition-duration: 0.15s;
    transition-property: all;
}
.iconlist a{
    text-decoration: none; 
}

.iconlist .i1 {
    margin-left: 5px;

}
.iconlist .i2{
    margin-right: 15px;

}
.iconlist .i3{
    margin-right: 15px;

}
.iconlist .i4 {
    margin-right: 15px;
}
.iconlist .i5 {
    margin-right: 5px;
}


